/* ========================
   Fonts
======================== */

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap")

/* ========================
   General Styles
======================== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #d8d8d8;
    color: rgb(228, 4, 4);
    font-family: 'Rajhani', sans-serif !important;
    text-shadow: 2.3px 2.3px rgba(0, 0, 0, 0.5);
}

/* ========================
   Typography
======================== */
h1 {
    margin-bottom: 1px;
    padding: 40px; 
    color: aliceblue; 
    font-size: xxxx-large;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: large;
}

p, a {
    color: white;
    font-size: large;
    line-height: 1.5;
}

p {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

a:hover, .here {
    text-decoration: underline;
    text-shadow: 0 0 1px #d3d3d3, 0 0 9px #acacac, 0 0 15px #a7a7a7;
}
.p-intro {
    font-size: 19px;
    margin: 8px auto;
    width: 60%;
    text-align: left;
}
.not-found {
    padding-top: 30px;
    font-size: xxx-large;
}

/* ========================
   Layout
======================== */
.section {
    margin-top: 50px;
}
.content {
    flex: 1;
    padding: 123px 0;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

/* Nice container */


.nice-container {
    width: 60%;
    margin: 8px auto;
    padding: 10px;
    background-color: rgba(106, 102, 102, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

      .nice-container-header {
            margin: 0 0 8px 0;
            text-align: left;
            text-decoration: underline;
        }

        .nice-container-content {
            display: flex;
            align-items: flex-start;
        }
        .nice-container-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
            margin-left: 16px;
            padding-left: 16px;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
        }

        .nice-container-info p {
            margin: 2px 0;
        }  



/*.save-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
*/

  .save-info {
    flex: 1;
    margin: 0;         
    text-align: left;
}

.mobile-not-available {
    display: none;
}
/* ========================
   Background
======================== */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/image/background/lake-jungle-bamboo-shader.jpeg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(0.7px);
    transition: opacity 5s ease-in-out;
    opacity: 1;
}

.background-a {
  z-index: -2;
}

.background-b {
  z-index: -3;
}

/* ========================
   Top Bar
======================== */
.top-bar {
    background-color: #333;
    color: white;
    padding: 1px 11px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3.9rem;
    font-size: 1.3rem;
    z-index: 9999;
    box-sizing: border-box;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.left-content,
.nav-links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-bar a {
    color: white;
    padding: 0 15px;
}

.top-bar a:hover {
    border-radius: 4px;
}

/* ========================
   Bottom Bar
======================== */
footer {
    width: 100vw;
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 2vh;
    box-sizing: border-box;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
    /*border-left: 1px solid rgba(255, 255, 255, 0.5);*/
}
footer p {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 16px;
    padding-left: 16px;

}

/* ========================
   Buttons
======================== */
.button-container {
    padding: 30px;
}

.button {
    margin: 5px;
    margin-top: 5px;
    padding: 16px 32px;
    min-width: 250px;
    min-height: 64px;
    border-radius: 0;
    color: white;
    text-align: center;
    font-size: large;
    cursor: pointer;
    /*transition: 0.1s;*/
    font-family: 'Pixel485', sans-serif;
    background-color: rgba(106, 102, 102, 0.3);
    border: 3px solid #222;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 -6px 0 0 rgb(104,104,104)inset,2px 2px 0 0 rgba(178,178,178,0.5)inset,-2px -8px 0 0 rgba(153,153,153,0.5)inset;
  mix-blend-mode: soft-light;*/
}

.button:hover {
    background-color: rgba(51, 51, 51, 0.7);
    text-decoration: underline;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}




/* ========================
   Images
======================== */
.img-logo {
    width: auto;
    height: 150px;
    margin: 1px auto;
    max-width: 100%;
    image-rendering: pixelated;
}

.server-icon {
        width: auto;
        height: 100px;
        flex-shrink: 0;
        border-radius: 0;
        box-shadow: none;
        image-rendering: crisp-edges;
        }


.img-media {
    width: 20vh;
}

.logo {
    height: 50px;
    margin-right: 11px;
    margin-top: 11px;
    image-rendering: pixelated;
    /*background-color: red;*/
}

/* ========================
   Hamburger Menu
======================== */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 1px 11px;
    cursor: pointer;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.hamburger:hover div {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

/* ========================
   Mobile Styles
======================== */
@media (max-width: 768px) {
    .top-bar {
        justify-content: space-between;
        height: 4.125rem;
    }

    .p-intro {
        width: 80%;
        text-align: justify;
        text-justify: initial;
        hyphens: auto;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100vw;
        padding: 10px 0;
    }

    .nav-links a {
        padding: 10px 20px;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.open {
        display: flex;
    }

    .divider {
        display: none;
    }

    .img-logo {
        width: 90%;
        height: auto;
        margin: 1px auto;
        max-width: 100%;
        image-rendering: pixelated;
        }
    .nice-container {
        width: 80%;
        }
    .nice-container-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        } 
    .nice-container-header {
        margin: 0 0 8px 0;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 24px;
        }
    .server-icon {
        margin-bottom: 10px;
        }
    .nice-container-info {
        margin-left: 0;
        border-left: none;
        align-items: left;
        }
        .nice-container-content a {
            margin-left: 0 !important;
            margin-top: 24px;
            align-self: center;
    }
}
